<div class="page">
  <div class="page-title">
    <i class="fas fa-hotel"></i> Hotels Management
  </div>

  <div class="card">
    <button class="btn-primary">
      <i class="fas fa-plus"></i> Add Hotel
    </button>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td><i class="fas fa-building"></i> Grand Palace</td>
        <td><i class="fas fa-map-marker-alt"></i> Paris</td>
        <td><i class="fas fa-star"></i> 5</td>
      </tr>
    </table>
  </div>

  <button class="btn-primary" (click)="openModal()">
  <i class="fas fa-plus"></i> Add Hotel
</button>

<!-- Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">

    <h3><i class="fas fa-hotel"></i> Add Hotel</h3>
<!-- 
    <input type="text" placeholder="Hotel Name" [(ngModel)]="newHotel.name">
    <input type="text" placeholder="Location" [(ngModel)]="newHotel.location"> -->

    <button class="btn-primary" (click)="saveHotel()">Save</button>
    <button (click)="closeModal()">Cancel</button>

  </div>
</div>
</div>